/* _content/CompanyApp.Components.Cabinets/Pages/Component1.razor.rz.scp.css */
.my-component[b-cela9wup9g] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
